<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<table>
  <tr *ngFor="let item of data | keyvalue" >
    <td>
      {{item.key}}
    </td>
    <td>
      {{ item.value}}
    </td>
  </tr>
</table>
<div>
  <button (click)="decreaseStepSize()">-</button>
  Step Size: {{steps[stepIndex]}}
  <button (click)="increaseStepSize()">+</button>
</div>
<div>
  <button (click)="decreasePosition()" [disabled]="lock">-</button>
  Position: {{position}}
  <button (click)="increasePosition()" [disabled]="lock">+</button>
</div>
<div>
  <input #frequency>kHz
  <button (click)="saveFrequency(frequency.value)" [disabled]="lock">Save Frequency</button>
  <button (click)="getPosition(frequency.value)" [disabled]="lock">Get Position</button>
</div>
<div>
  STATUS: {{status}}
</div>

